/usercache.json
/usernamecache.json
/vista_ffmpeg_sources.json
/ldlib2/
/local/
/logs/
/mods/
/moonlight-global-datapacks/
/resourcepacks/
/saves/
/schematics/
/screenshots/
/server-resource-packs/
/shaderpacks/
/texturepacks/
/vista_ffmpeg_bin/
/vista_web_content_cache/
/xaero/
/XaeroWaypoints_BACKUP240807/
/.gitignore
/command_history.txt
/emi.json
/icon.png
/options.txt
/ponders_watched.json
/ponders_watched_azimuth.json
/coremods/
/crash-reports/
/datapacks/
/defaultconfigs/
/downloads/
/dynamic-data-pack-cache/
/dynamic-resource-pack-cache/
/cache/
/.sable/
/.mixin.out/
/.idea/
